extends layout

block assets
  link(rel='stylesheet', href='http://g.tbcdn.cn/thx/cube/1.2.1/cube-min.css')
  link(rel='stylesheet', href='http://g.tbcdn.cn/thx/brix/2.1.0/gallery/??tables/index-min.css,dropdown/index-min.css,calendar/index-min.css,pagination/index-min.css,dialog/index-min.css,tooltip/index-min.css,form/index-min.css')
  link(rel='stylesheet', href='#{config.staticCDN}/css/markdown-min.css')
  link(rel='stylesheet', href='#{config.staticCDN}/css/style-min.css')
  link(rel='stylesheet', href='#{config.staticCDN}/css/editor-min.css')
  link(rel='stylesheet', href='#{config.staticCDN}/css/prettify-min.css')  
  script(src='http://g.tbcdn.cn/kissy/k/1.4.2/seed-min.js')
  script(src='http://g.tbcdn.cn/thx/brix/2.1.0/brix-min.js', bx-config='{autoPagelet:true,componentsPath:"#{config.staticCDN}/app/",debug:false}')
  script(src='http://g.tbcdn.cn/thx/magix/1.1/kissy-magix-mxext-min.js')
  script(src='#{config.staticCDN}/app/components/code_prettify_lib/prettify-min.js')
  script(src='#{config.staticCDN}/app/components/editor/editor-min.js')
  script(type='text/javascript').
    var duoshuoQuery = {short_name:"kiwiobject"};
  script(src='http://static.duoshuo.com/embed.js')
  script(src='#{config.staticCDN}/boot/index-min.js', boot-config='{debug:false, tbcdn:"#{config.staticCDN}"}')